body {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
}

.side {
    width: 20px;
    flex: 1 0 auto;
}

.mainBody {
    width: 1000px;
    flex: 0 1 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    background-color: #1F2937;
}

.hLogo {
    font-size: 24px;
    color: #F9FAF8;
}

.hLinks {
    display: flex;
    gap: 8px;
}

.hLink {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    height: 400px;
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

.placeHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 300px;
    background-color: gray;
    flex: 1 0 auto;
}

.heroTexts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.heroSubText {
    font-size: 18px;
    color:#E5E7EB
}

.heroMainText {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

.heroButton {
    width: 72px;
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 4px;
    border: none;
    padding: 6px;
}

.randomHeading {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoContainers {
    height: 350px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.infoBit {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.infoBit div {
    text-align: center;
    color: gray;
}

.infoBox {
    width: 200px;
    height: 200px;
    border: 6px solid #3882F6;
    border-radius: 18px;
}