body {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
}

.side {
    width: 20px;
    flex: 1 0 auto;
}

.mainBody {
    width: 1000px;
    flex: 0 1 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    background-color: #1F2937;
}

.hLogo {
    font-size: 24px;
    color: #F9FAF8;
}

.hLinks {
    display: flex;
    gap: 8px;
}

.hLink {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    height: 400px;
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

.placeHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 300px;
    background-color: gray;
    flex: 1 0 auto;
}

.heroTexts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.heroSubText {
    font-size: 18px;
    color:#E5E7EB
}

.heroMainText {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

.heroButton {
    width: 72px;
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 4px;
    border: none;
    padding: 6px;
}

.randomHeading {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoContainers {
    height: 350px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.infoBit {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.infoBit div {
    text-align: center;
    color: gray;
}

.infoBox {
    width: 180px;
    height: 180px;
    border: 6px solid #3882F6;
    border-radius: 18px;
}

.quoteSection {
    height: 415px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #E5E7EB;
    color: gray;
    
}

.quoteText {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    width: 920px;
}

.quoteCredit {
    font-weight: bold;
    text-align: right;
    width: 920px
}

.ctaSection {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.ctaBox {
    border-radius: 10px;
    background-color: #3882F6;
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;
    gap: 20px;
    padding: 30px 200px;
}

.ctaTexts {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 0 0 auto;
}

.ctaHeader {
    font-size: 18px;
    color:#F9FAF8;
    font-weight: bold;
}

.ctaSubheader {
    color: #E5E7EB;
}

.ctaButton {
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    color:#F9FAF8;
    border-radius: 6px;
    padding: 6px 16px;
    text-decoration: none;
    flex: 0 0 auto;
}

.footer {
    height: 120px;
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}